<div class="mainbody">
    <div class="container header">
      <div class="row">         
        <div class="col-lg-1">
          <img src="../assets/coin.png">
        </div>
        <div class="col-lg-8 title">
          <span class="red">ROUL</span><span class="black">ETH</span>
        </div>
        <div class="col-lg-3 metaBtn">
          <ng-container *ngIf="!connectedToMetaMask">
            <button type="button" class="btn btn-primary" (click)="metamaskConnect()">
              Connect to MetaMask</button>
          </ng-container>
          <ng-container *ngIf="connectedToMetaMask">
            <button type="button" class="btn btn-primary">
              Connected</button>
          </ng-container>
        </div>
      </div>   
    </div>

    <splashScreen></splashScreen>
    <router-outlet></router-outlet>
</div>
  
